{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Juego: Concentrese</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!-- Custom fonts for this template -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito" rel="stylesheet"> 
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block style %}{% endblock %}
</head>

<body class="text-center">
	<div class="fluid-container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-container">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="row logo-container">
			<div class="col-md-6">
				<img class="ecopetrol" src="{% static 'img/logo_ecopetrol.png' %}">
			</div>
			<div class="col-md-6">
				<img class="championx" src="{% static 'img/logo_championx.png' %}">
			</div>
		</div>
	</div>
	{% block dialog %}{% endblock %}
	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{% block script %}{% endblock %}
</body>

</html>