{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
	<div class="col-md-9">
		<div class="card info">
			<div class="card-body">
				<h1 class="card-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h1>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-center">
			<img class="profile" src="{% static 'img/user.png' %}" class="card-img-top" class="rounded-circle" alt="User">
			<div class="card-body">
				<form method="post">
					{{ form | crispy }}
					{% csrf_token %}
					<button type="submit" class="btn btn-primary">Acceder</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}