{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row" style="width: 1200px">
	<div class="col-md-9">
		<div class="card info">
			<div class="card-body">
				<h1 class="card-title">{{ config.title }}</h1>
				<p class="card-text">{{ config.description }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card text-center">
			<img class="profile" src="{% static 'img/user.png' %}" class="card-img-top" class="rounded-circle" alt="User">
			<div class="card-body">
				<form method="post">
					{{ form | crispy }}
					{% csrf_token %}
					<button type="submit" class="btn btn-primary">Acceder</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}